<%= form_for @post do |f| %>
	
	<% if @post.errors.any? %>
    <h2>We have some errors here !</h2>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :image, "Photo" %>
  <%= image_tag @post.image.url, width: '300px' if @post.image? %>
  <%= f.file_field :image %>

	<div class="form-group">
		<%= f.label :title, "Title：" %>
		<%= f.text_field :title %>
	</div>

	<div class="form-group">
		<%= f.label :content, "Content：" %>
		<%= f.text_area :content %>
	</div>

	<div class="form-group">
		<%= f.submit %>
	</div>

<% end %>