<%= form_for @post do |f| %>

	<div class="form-group">
		<%= f.label :title, "Title：" %>
		<%= f.text_field :title %>
	</div>

	<div class="form-group">
		<%= f.label :content, "Content：" %>
		<%= f.text_area :content %>
	</div>

	<div class="form-group">
		<%= f.submit %>
	</div>

<% end %>