<h1>Index Page</h1>

<% @posts.each do |post| %>
	<ul>
		<li>
			<%= post.title %>
			<%= post.content %>
			Published at <%= time_ago_in_words(post.created_at) %> ago -
			<%= link_to "Show", post_path(post) %>
			<%= link_to "Edit", edit_post_path(post) %>
			<%= link_to "Delete", post_path(post), method: :delete, data: {confirm: "Are you sure?"} %>
		</li>
	</ul>
<% end %>

<%= link_to "New Post", new_post_path %>